.hero {
  height: 100vh;
  background-color: white;
  background: linear-gradient(to left, #cffd9e 80%, transparent 20%);
  background-size: 200% 100%;

  &.animated {
    animation: fillBackground 3s forwards ease-out;
  }

  .hero-title {
    margin: 0;
  }
}

@keyframes fillBackground {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}
